<app-menu></app-menu>
<h2>Consulta de Provincias </h2> 
<div class= "d-flex">

<div class="w3-sidebar w3-bar-block" style="width:15%">
  <!-- Inicio Sidebar 
     Side bar que registra una lista de nombres ingresados en la búsqueda
     y se pueden volver a buscar al dar click en los mismos.
     descomentar la etiqueta para habilitar
  -->
   <!--<app-sidebar></app-sidebar> {% endcomment %} -->
 <!-- end Sidebar -->
</div>
   



<div class="row" p-3>
      <div class="col">
        <app-busqueda></app-busqueda>
      </div>

</div>

<div class="row">
      <div class="col">
       <app-resultados></app-resultados>
      </div>
    </div>
</div>  






 <hr />

    
 
    














